@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
}

a {
  color: #f9c74f;
  font-size: 20px;
  text-decoration: none;
}
.login-title {
  font-size: 48px;
}

.login-submit-button {
  font-size: 20px;
  background-color: inherit;
  border-style: dashed;
  border-radius: 21%;
  margin-bottom: 2%;
  padding: 1rem;
}

.snippet-title-container {
  background-color: #6c757d;
  opacity: 0.8;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.snippet-title {
  display: flex;
  justify-content: space-between;
}

.bottom-snippet-container {
  display: flex;
  justify-content: space-between;
}

.snippet-format {
  /* border: 2px solid #f3722c; */
  margin: 1rem;
  background-color: #495057;
  list-style-type: none;
  padding: 0.5rem;
}

.snippet-code-container {
  background-color: #293241;
  opacity: 0.6;
  color: white;
  margin: 1rem;
  padding: 0.4rem;
}

.snippets li {
  border: 1px solid green;
  margin: 3%;
  font-size: 20px;
}
body {
  background-color: #555b6e;
}

.header {
  text-align: center;
}

.login_button_container {
  border: 2px solid red;
  text-align: center;
}

.login-main-container {
  /* border: 2px solid green; */
  margin-top: 20%;
  text-align: center;
}
.login-form-labels {
  font-size: 30px;
}
.login-form-labels input {
  height: 30px;
  font-size: 20px;
}

.login_button {
  text-decoration: none;
  width: 2rem;
  height: 1rem;
  background: #f1e6e6;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  color: rgb(158, 73, 73);
  font-family: monospace;
  font-weight: bold;
  line-height: 25px;
}

.register_button {
  text-decoration: none;
  width: 2rem;
  height: 1rem;
  background: #f1e6e6;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  color: rgb(158, 73, 73);
  font-family: monospace;
  font-weight: bold;
  line-height: 25px;
}

.snippet-search-container {
  display: flex;
  justify-content: center;
  /* border: 2px solid magenta; */
}

.snippet-search::placeholder {
  color: #343a40;
}
.snippet-search {
  background-color: grey;
  width: 45%;
  height: 40px;
  font-size: 20px;
}
