{% extends 'base.html' %}
{% block content %}

<header class="header">
    <a href="/user/feed">Home Page | </a>
    <a href="{% url 'user_profile' pk=user.pk %}">{{request.user}}'s Profile | </a>
    <a href="/accounts/logout">Logout</a>
</header>
<h1>Public Feed</h1>


<div class="public-snippets-container">
    <ul>
        {% for user in users %}
        {% for snippet in user.snippets.all %}
        <div class="snippet-format">
            <li><div class="snippet-title">
                    <div class="author-info">
                        {% for profile in profiles %}
                        {% if profile.user.pk is user.pk %}
                    <img src="{{ profile.picture.url }}" alt="Profile pic" width="50">
                        {% endif %}
                        {% endfor %}
                    <a href="{% url 'user_profile' pk=snippet.author.pk %}">{{snippet.author}}</a>
                    </div>
                Title: {{snippet.title}} <span class="copies">COPIES: {{snippet.copies}}</span>
            </div>
            <div class="snippet-code-container">
                <pre><code>{{snippet.code}}</code></pre>
            </div>
            Language: {{snippet.language}}</li>
            <div class= "edit-delete-buttons">
                {% if user.pk == request.user.pk %}
                <a href="{% url 'edit_snippet' pk=snippet.author.pk id=snippet.pk %}"> Edit | </a> 
                <a href="{% url 'delete_snippet' pk=snippet.pk%}"> Delete</a>
                {% endif %}
            </div>
            <div class="copy-button">
                {% if user.pk != request.user.pk %}
                <a href="{% url 'copy_snippet' authorPK=user.pk snippetPK=snippet.pk %}"> Copy </a> 
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </ul>
</div>  
{% endblock %}