{% extends 'base.html' %}
{% block content %}
<header class="header">
    <a href="/user/feed">Home Page</a>
    <a href="{% url 'user_profile' pk=request.user.pk %}">My Profile Page</a>
    <a href="/accounts/logout">Logout</a>
</header>
<br>
<h2>Currently logged in as User: {{ request.user }} PK: {{ request.user.pk }}</h1>
<br>
<div class="snippets">
    <h1>{{ user }}'s Snippets</h3>
    <ul>
        {% for snippet in user.snippets.all %}
        <li>{{snippet.author.pk}}{{ snippet.title }}</a>| {{ snippet.code }} | {{ snippet.language }} | {{snippet.pk}}
        <a href="{% url 'edit_snippet' pk=snippet.author.pk id=snippet.pk %}">Edit</a></li>
        {% endfor %}
    </ul>
        
</div>
{% if user.pk == request.user.pk %}
<a href="{% url 'add_snippet' pk=request.user.pk%}">ADD SNIPPET</a>
{% endif %}
{% endblock %}