{% extends 'base.html' %}
{% block content %}
<header class="header">
    <a href="/user/feed">Home Page | </a>
    <a href="{% url 'user_profile' pk=user.pk %}">{{request.user}}'s Profile | </a>
    <a href="/accounts/logout">Logout</a>
</header>
<br>
<br>
<div class="snippets-container">

    <h1>{{ user }}'s Snippets</h1>
        {% for snippet in user.snippets.all %}
        <div class="snippet-format">
            <li><div class="snippet-title">
                <a href="{% url 'user_profile' pk=snippet.author.pk %}">{{snippet.author}}</a>
                Title: {{snippet.title}}
            </div>
            <div class="snippet-code-container">
            <pre><code>{{snippet.code}}</code></pre> 
            </div> 
            <div class="bottom-snippet-container"> Language: {{ snippet.language }}
            <div class= "edit-delete-buttons">
            <a href="{% url 'edit_snippet' pk=snippet.author.pk id=snippet.pk %}"> Edit </a><a href="{% url 'delete_snippet' pk=snippet.pk%}"> Delete</a>
            </div>
            </div>
            </li>
        </div>
        {% endfor %}
        
</div>
{% if user.pk == request.user.pk %}
<a href="{% url 'add_snippet' pk=request.user.pk%}">ADD SNIPPET</a>
{% endif %}
{% endblock %}